<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/node.svg" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/essentials.css" />
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('partials/errors.ejs') %>
    <form
      action="/<%= folderId %>/upload"
      method="POST"
      enctype="multipart/form-data"
    >
      <fieldset>
        <label for="files"
          >Upload (Max 10 files of each 5.5 MB):
          <input type="file" name="files" id="files" multiple
        /></label>

        <button type="submit">Submit</button>
      </fieldset>
    </form>
    <a href="/"><button>Root</button></a>
  </body>
</html>
